{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="container">
	<div class="card mt-3">
		<div class="card-header bg-dark">
			 <h1 class="card-title text-white">{% trans "Change Password" %}</h1>
		</div>
		<div class="card-body">
				<form method="POST" action="{% url 'account_change_password' %}">
					<label class="card-subtitle" for="id_oldpassword">Old Password</label>

					<input class="form-control" type="password" name="oldpassword" id="id_oldpassword" placeholder="Current Password">

					<label class="card-subtitle pt-2" for="id_oldpassword">Password</label>

					<input class="form-control" type="password" name="password1" id="id_password1" placeholder="Password">

					<label class="card-subtitle pt-2" for="id_oldpassword2">Old Password</label>
					<input class="form-control" type="password" name="password2" id="id_password2" placeholder="Confirm Password">
        {% csrf_token %}
       
        <button class="btn btn-success" type="submit" name="action">{% trans "Change Password" %}</button>
        <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
    </form>
			</div>
		</div>
	</div>

</div>
{% endblock %}
